.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 2000;
  @supports (backdrop-filter: blur(10px)) or
    (-webkit-backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.3);
  }

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-gray-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover,
    &:active {
      color: $color-primary;
    }
  }

  &__content {
    @include absCenter;
    width: 80%;
    background-color: $color-white;
    // height: 50rem;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    transition: all 0.4s 0.2s;

    @include responsive(tablet-desktop) {
      display: block;
      width: 60%;
    }

    transform: translate(-50%, -50%) scale(0);
  }

  &__left {
    width: 33.33333333333%;
    display: table-cell;
    vertical-align: middle;
    @include responsive(tablet-landscape) {
      width: 100%;
      display: block;
    }
  }

  &__right {
    width: 66.66666666666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
    @include responsive(tablet-landscape) {
      width: 100%;
      display: block;
    }
  }

  &__image {
    display: block;
    width: 100%;
    @include responsive(tablet-landscape) {
      width: 49%;
      transform: scale(1.2);
      height: auto;
      display: inline-block;
      margin: 0;
    }
  }

  &__text {
    margin-bottom: 4rem;
    font-size: 1.4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 2px solid $color-light-gray;

    hyphens: auto;

    @include responsive(mobile) {
      column-count: 1;
    }
  }
}
